{% extends "restaurant/restaurentbase.html"%}
{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container"style="border-radius:10px;background-color:#FFD872;">

  <form action="" method="POST" >
    {% csrf_token %}
    <input type="text" name="adrs" placeholder="Enter location">
    <input type="submit" value="search">

  </form>

  <h4><b>NGO List</b></h4>
<table border="" class="w-50 table table-light"  class="w-50 table table-light" style="border-radius:10px;background-color:#F2D4CC;">
  <tr>
    <th>name</th>
    <th>institutionname</th>
    <th>address</th>
    <th>postcode</th>
    <th>phone</th>
    <th>email</th>

  </tr>

  {% for n in listngo %}

  <tr>
    <td>{{n.name}}</td>
    <td>{{n.institution_name}}</td>
    <td>{{n.address}}</td>
    <td>{{n.postcode}}</td>
    <td>{{n.phone}}</td>
    <td>{{n.email}}</td>

  </tr>
  {% endfor %}
</table>
  <br>
  <br>


  <a href="/ngo_email/" class="btn btn-warning" type="submit">email</a>



  <br>
<br>
<br>
<br>
<br>
<br>
</div>
{% endblock %}
