{% extends "ngo/ngobase.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container"style="border-radius:10px;background-color:#FAC4C4;">
    <form action="" method="POST">

    {% csrf_token %}
        <input type="text" name="adrs" placeholder="Enter location">
        <input type="submit" value="search">
    </form>

    <h4><b>Restaurants List</b></h4>

    <table border=""class="w-50 table table-light" style="border-radius:10px;background-color:#E9E7AD;">
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Registration_number</th>
      <th>Email</th>
    </tr>
    {% for r in listrest %}
    <tr>
      <td>{{r.name}}</td>
      <td>{{r.address}}</td>
      <td>{{r.phone}}</td>
      <td>{{r.registration_number}}</td>
      <td>{{r.email}}</td>
    </tr>
    {% endfor %}
    </table>
    <form action="/send_restemail/" method="post">
    {% csrf_token %}
<table>
        <tr><th>subject</th><td><input type="text" name="sub"></td></tr>
        <tr><th>message</th><td><input type="text" name="msg"></td></tr>
        <tr><th><input type="text" value="{{loc}}"name="adrs"></tr></th>
</table>
    <input class="btn btn-warning" type="submit"value="sendemail">

</form>
</div>
<br>
<br>
{% endblock %}