{% extends "ngo/ngobase.html" %}
<br>
<br>
{% block content %}
<div class="container"style="border-radius:10px;background-color:#EADCC3;">
<form action="" method="POST" >
<br>
<br>
<br>
<br>
<br>
<br>

    {% csrf_token %}
    <h4><b>EMPLOYEE LIST</b ></h4>
    <input type="text" name="adrs" placeholder="Enter location">
    <input type="submit" value="search">



    <table border="" class="w-50 table table-light" style="border-radius:10px;background-color:#F3BFB3;">
        <tr>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
            <th>Email</th>
        </tr>
        {% for e in listemployee %}
        <tr>
            <td>{{e.name}}</td>
            <td>{{e.address}}</td>
            <td>{{e.phone}}</td>
            <td>{{e.email}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="/emp_email/" class="btn btn-warning" type="submit">email</a>
    <a href="/employee_add/" class="btn btn-warning" type="submit">employee registration</a>
<br>
<br>
<br>
<br>
</form>
</div>
{% endblock %}